<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>779614531360-0iss6jqgjpsjqsnfcepnc88k4sdf3ok8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779614531360-0iss6jqgjpsjqsnfcepnc88k4sdf3ok8</string>
	<key>API_KEY</key>
	<string>AIzaSyC8NpZg1yV4L5cRyonWulXGyNd5GFd_z-g</string>
	<key>GCM_SENDER_ID</key>
	<string>779614531360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attendr.ios</string>
	<key>PROJECT_ID</key>
	<string>attendr-cb0d5</string>
	<key>STORAGE_BUCKET</key>
	<string>attendr-cb0d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:779614531360:ios:77f5e29d4e38d5a5</string>
	<key>DATABASE_URL</key>
	<string>https://attendr-cb0d5.firebaseio.com</string>
</dict>
</plist>